@{
  Layout = "_Layout";
}

@using System.Security.Claims
<h2>Login</h2>
@if (User.Identity.IsAuthenticated)
{
  <p> You are logged in as @User.Identity.Name</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-info btn-sm" value="Log out" />
  }
}
  else
  {
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
  }
<button class="btn btn-warning btn-sm" onclick="location.href='@Url.Action("Index", "Home")'">Home</button> 